//nie da sie miec dwoch transform applying in the same time

.story {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 3rem 6rem rgba($color-black, .1);
    background-color: rgba($color-white, .6);
    border-radius: 3px;
    padding: 6rem;
    padding-left: 9rem; //6 + 3 (3 z transform kola, bo przesunelismy je ciut w lewo i nam kolo wyszlo z .story 
    font-size: $default-font-size;
    transform: skewX(-12deg);

    @include respond(tab-port) {
        width: 100%;
    }

    &__shape {
        width: 15rem;
        height: 15rem;
        // background-color: orangered;
        float: left;
        border-radius: 50%;
        
        transform: translateX(-3rem) skewX(12deg);
        position: relative; //dla caption
        overflow: hidden;

        @supports (clip-path: polygon(0 0)) or (-webkit-clip-path: polygon(0 0)) {
            -webkit-clip-path: circle(50% at 50% 50%);
            clip-path: circle(50% at 50% 50%); //tekst bedzie wokol kola 
            -webkit-shape-outside: circle(50% at 50% 50%); //dla safari
            shape-outside: circle(50% at 50% 50%); //musi byc float, ale float wymaga height i width
            border-radius: none;
        }
        
        @include respond(phone) {
            transform: translateX(-3rem) skewX(0);
        }
    }

    &__img {
        height: 100%; //bo jest w srodku shapea, ktory ma zdefiniowane height 
        transform: translateX(-4rem) scale(1.4);
        backface-visibility: hidden;
        transition: all .5s;
    }

    &__text {
        transform: skewX(12deg);
    }

    &__caption {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, 0);
        color: $color-white;
        text-transform: uppercase;
        font-size: 1.7rem;
        text-align: center;
        opacity: 0;
        transition: all .5s;
        backface-visibility: hidden;
    }

    &:hover &__caption {
        opacity: 1;
        transform: translate(-50%, 0);
    }

    &:hover &__img {
        transform: translateX(-4rem) scale(1);
        filter: blur(3px) brightness(80%);
    }
}